.productsPageContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  background-color: white;
}

.sideBarContainer {
  width: 15%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 3em;
}
.headerSideBarContainer {
  margin-top: 3em;
  margin-bottom: 1.5em;
}
.headerSideBarContainer p {
  font-family: Lato;
  font-size: 1em;
}
.headerSideBarCategory {
  font-weight: 900;
  font-family: Lato;
  font-size: 1.3em;
  color: black;
  padding-right: 1.25em;
  border-right: 1px dotted gray;
}

.sideBarItem {
  line-height: normal;
  border-top: 1px dotted gray;
  padding: 10px;
  font-size: 0.9em;
}
.productsContainer {
  display: flex;
  width: 60%;
  padding-left: 4em;
  padding-top: 3em;
  flex-direction: column;
  margin-bottom: 4em;
}
.productContainerHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px dotted gray;
  margin-top: 0.5em;
  padding-bottom: 1em;
  height: 3vh;
  width: 100%;
  margin-right: 4em;
}
.productItemsContainer {
  display: flex;
  border-bottom: 1px dotted gray;
  flex-wrap: wrap;
  margin-top: 2em;
  justify-content: center;
  align-items: center;
}
.productItem {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid gray;
  margin: 0.5em;
  align-items: center;
  justify-content: center;
}
.productImage {
  width: 266px;
  height: 266px;
}
.productName {
  color: black;
  font-family: Lato;
  font-weight: 900;
  font-size: 1.1em;
  padding-top: 2em;
}
