.social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 7px 10px 0;
  text-align: center;
  border: 2px solid #434343;
}
.social a:hover {
  border-color: #fff;
}
.social a i {
  line-height: 36px;
  font-size: 20px;
  color: #434343;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.social a:hover i {
  color: #fff;
}
